/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@import './button.css';
@import './blog-card.css';
@import './nav-link.css';
@import './text-link.css';
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.video-youtube-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.video-youtube-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@tailwind utilities;
